

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>







{% extends "app/base_site.html" %}

{% block title %} Consumer Grievance Assistance Portal {% endblock title %}

{% block content %}
    <div class="chatbot-container">
        <div id="header">
            <h1>Post Your Query</h1>
        </div>
        <div id="chatbot">
            <div id="conversation">
              <div class="chatbot-message">
                <p class="chatbot-text">Hi! I,m here to Help You 👋 it's great to see you!</p>
              </div>
            </div>
            <form id="input-form">
              <message-container>
                <input id="input-field" type="text" placeholder="Type your message here">
                <button id="submit-button" type="submit">
                  <img class="send-icon" src="/static/images/send-message.png" alt="">
                </button>
              </message-container>
                
            </form>
        </div>  

    </div>


{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- validator -->
  <script src="/static/vendors/validator/chatbot.js"></script>
{% endblock javascripts %}
