<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title"><i class="fa fa-spinner"></i> <span>Grievance Help</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>Guest</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>Dispute Management</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-bar-chart-o"></i>Case Analytics <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="year_2025.html">Year 2025</a></li>
            <li><a href="year_2024.html">Year 2024</a></li>
            <li><a href="year_2023.html">Year 2023</a></li>
            <li><a href="year_2022.html">Year 2022</a></li>
            <li><a href="year_2021.html">Year 2021</a></li>
            <li><a href="year_2020.html">Year 2020</a></li>
            <li><a href="year_2019.html">Year 2019</a></li>
            <li><a href="year_2018.html">Year 2018</a></li>
            <li><a href="year_2017.html">Year 2017</a></li>
            <li><a href="year_2016.html">Year 2016</a></li>
            <li><a href="year_2015.html">Year 2015</a></li>
            
          </ul>
        </li>
        <li><a href="form_validation2.html"><i class="fa fa-desktop"></i>Grievance Portal</a></li>
        <li><a href="chatbot.html"><i class="fa fa-edit"></i>Chatbot</a></li>
        <li><a href="courtdetails.html"><i class="fa fa-table"></i>Court Details</a></li>

        
        
      </ul>
    </div>
    
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
